@model PagedList<ThwebUser>;
@{
    Layout = "/Views/Shared/_Layout_admin.cshtml";
}


<div class="container w-full p-10">
    
    <table id="" class="th_table w-full border border-gray-500">
        <thead>
            <tr>
                <th class="">이메일</th>
                <th class="">닉네임</th>
                <th class="">가입일</th>
                <th class="">정지</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="sorting_1" tabindex="0">@item.Email</td>
                    <td>@item.Nickname</td>
                    <td>@item.RegDate.ToString("yyyy-MM-dd")</td>
                    <td>정지시키기 추가예정</td>
                </tr>

            }
        </tbody>

    </table>

    <div class="flex justify-between mt-4">

        <div class="flex w-full">
            <input class="th-input w-2/4 px-4" />
            <button class="th-bl-btn mx-2 w-1/4 ">검색</button>
        </div>
        <div>
            @await Html.PartialAsync("~/Views/Shared/_Partial/_Paging.cshtml", Model.pagerOptions)
        </div>

    </div>

    <button class="th-bl-btn my-9 h-5">나를 클릭하세요</button>
    <button class="th-wh-btn my-2">나를 클릭하세요</button>



</div>

