@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<form asp-page="/Account/Login" method="post">
    <div class="mx-auto min-w-[350px] space-y-6 py-4">
        <div class="space-y-2 text-center">
            <h1 class="text-3xl font-bold ">로그인</h1>
            <p class="text-gray-500 dark:text-gray-400">계정 정보를 입력하여 로그인하세요.</p>
        </div>
        <div>
            <div class="space-y-4">
                <input type="hidden" value="@Model.ReturnUrl" asp-for="ReturnUrl">
                <div class="space-y-2">
                    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                           asp-for="Input.Email">
                        이메일
                    </label>
                    <input class="th-input"
                           asp-for="Input.Email"
                           placeholder="example@example.com"
                           required=""
                           type="email" />
                    <span asp-validation-for="Input.Email" class="text-red-500 text-sm p-4"></span>
                </div>
                <div class="space-y-2">
                    <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                           asp-for="Input.Password">
                        비밀번호
                    </label>
                    <input class="th-input"
                           asp-for="Input.Password"
                           required=""
                           type="password" />
                    <span asp-validation-for="Input.Password" class="text-red-500 text-sm p-4"></span>
                </div>
                <button class="th-wh-btn w-full"
                        type="submit">
                    로그인
                </button>
            </div>

        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
