<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Thweb.Mall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Thweb.Mall.styles.css" asp-append-version="true" />
    
</head>
<body class="">
    <header class="w-full bg-gray-800">
        <div class="flex w-full">
            <div class="w-2/4 md:w-1/4 flex items-center mx-4">
                <h1 class="text-lg font-bold text-white">Thweb Bookstore</h1>
            </div>
            <div class="w-2/4 hidden md:block">
                <nav class=" flex items-center gap-4 flex justify-around p-3 ">
                    <a class="hover:underline text-white" href="#">
                        Home
                    </a>
                    <a class="hover:underline text-white" href="#">
                        Shop
                    </a>
                    <a class="hover:underline text-white" href="#">
                        About
                    </a>
                    <a class="hover:underline text-white" href="#">
                        Contact
                    </a>
                </nav>
            </div>
            <div class="hidden md:flex w-1/4 justify-end items-center mx-4">
                <a asp-area="Identity" asp-page="/Account/Register" class="text-white mx-4">회원가입</a>
                <a asp-area="Identity" asp-page="/Account/Login" class="text-white">로그인</a>
            </div>

            <div class="flex md:hidden w-2/4 justify-end items-end">
                <svg onclick="m_menu_open()"
                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </div>
        </div>

        <div id="m_menu" class="transform -translate-x-full transition-transform duration-500 ease-in-out fixed w-full  h-full bg-gray-800 overflow-auto flex-1 p-6 z-50  ">
            <ul class="space-y-4 px-1">
                <li class="bg-wh-800">
                    <a class="hover:underline text-white" href="#">
                        Home
                    </a>
                </li>

                <li>
                    <a class="hover:underline text-white" href="#">
                        Shop
                    </a>
                </li>

                <li>
                    <a class="hover:underline text-white" href="#">
                        About
                    </a>
                </li>

                <li>
                    <a class="hover:underline text-white" href="#">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </header>

   
    <div class="flex items-center justify-center flex-col">
     

            @RenderBody()
    </div>
   


    <footer class="bg-white rounded-lg shadow dark:bg-gray-900 m-4">
        <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">
                © 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.
            </span>
        </div>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
