@{

    Layout = "/Views/Shared/_Layout_main.cshtml";
}

<div class="flex-1 mt-3">
    <div class="mx-auto max-w-7xl grid items-center gap-4 px-4 md:gap-6 lg:px-6">
        <div class="space-y-6 text-center">
            <div class="space-y-2">
            
                <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl">TH_Mall</h1>
                <p class="mx-auto max-w-[600px] text-gray-500 md:text-xl/relaxed lg:text-base/relaxed xl:text-xl/relaxed dark:text-gray-400">
                    TH_Mall은 가구, 조명, 장식품 등 다양한 인테리어 제품을 제공하는 온라인 쇼핑몰입니다.
                </p>
            </div>
        </div>
    </div>
    <div class="divide-y">
        <div class="grid items-center gap-4 p-4 md:grid-cols-2 lg:gap-10 xl:p-10">
            <div class="space-y-2">
                <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl">가구</h2>
                <p class="text-gray-500 dark:text-gray-400">
                    현대적인 디자인에서 클래식한 스타일까지, 다양한 취향을 만족시키는 고품질 가구를 선보입니다.
                </p>
            </div>
            <a asp-area="customer" asp-controller="product" asp-action="Index" asp-route-categoryId="1"
                class="mx-auto w-full max-w-sm overflow-hidden rounded-xl border shadow-sm hover:shadow-md dark:invert">
                <img src="/images/main/e94eb8eb-7a20-49b6-9155-22b2b6072ce1.png"
                     alt="Food"
                     width="400"
                     height="200"
                     class="aspect-[2/1] object-cover object-center" />
            </a>
        </div>
        <div class="grid items-center gap-4 p-4 md:grid-cols-2 lg:gap-10 xl:p-10">
            <div class="space-y-2">
                <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl">조명</h2>
                <p class="text-gray-500 dark:text-gray-400">
                    분위기를 바꿀 수 있는 다양한 종류의 조명 제품으로, 공간마다 특별한 빛을 선사합니다.
                </p>
            </div>
            <a asp-area="customer" asp-controller="product" asp-action="Index" asp-route-categoryId="2"
                class="mx-auto w-full max-w-sm overflow-hidden rounded-xl border shadow-sm hover:shadow-md dark:invert">
                <img src="/images/main/6f503ba8-ff15-47a1-a5d6-90f540d7693d.png"
                     alt="Home Appliances"
                     width="400"
                     height="200"
                     class="aspect-[2/1] object-cover object-center" />
            </a>
        </div>
        <div class="grid items-center gap-4 p-4 md:grid-cols-2 lg:gap-10 xl:p-10">
            <div class="space-y-2">
                <h2 class="text-2xl font-bold tracking-tighter sm:text-3xl">장식품</h2>
                <p class="text-gray-500 dark:text-gray-400">
                    집안을 아름답고 개성 있게 꾸밀 수 있는 다양한 장식품으로, 매력적인 공간을 창조합니다.
                    </p>
            </div>
            <a asp-area="customer" asp-controller="product" asp-action="Index" asp-route-categoryId="3"
                class="mx-auto w-full max-w-sm overflow-hidden rounded-xl border shadow-sm hover:shadow-md dark:invert">
                <img src="/images/main/2b4a734a-7818-40a7-ad34-d997f451e6c3.png"
                     alt="English Cosmetics"
                     width="400"
                     height="200"
                     class="aspect-[2/1] object-cover object-center" />
            </a>
        </div>
    </div>
</div>

